{% extends "index.html" %}
{% block title %} Accedi {% endblock %}

{% block content %}
    {# Torna Indietro alla pagina iniziale #}
    <div class="has-text-right-desktop">
        <a href="{% url 'index' %}" class="button is-small is-text has-text-link">
            <span class="icon is-small"><i class="fas fa-sign-in-alt"></i></span>
            <span>Pagina Iniziale</span>
        </a>
    </div>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-third">

                    {# Box -- card bianca #}
                    <div class="box">
                        <h1 class="title is-4 has-text-centered">Area Login</h1>
                        {# Messaggio d'errore se presente #}
                        {% if error %}
                            <div class="notification is-danger is-light" role="alert">
                                <button class="delete" aria-label="chiudi"></button>
                                <span class="icon">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span> {{ error }}
                            </div>
                        {% endif %}
                        {# Campo Email #}
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="field">
                                <label class="label">Username o Email</label>
                                <div class="control has-icons-left">
                                    <label>
                                        <input class="input" type="text" name="id"
                                               required>
                                    </label>
                                    <span class="icon is-small is-left">
                                      <i class="fas fa-envelope"></i>
                                    </span>
                                </div>
                            </div>


                            {# Campo Password #}
                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control has-icons-left">
                                    <label for="pass"></label><input class="input" type="password" id="pass"
                                                                     name="pass"
                                                                     required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                            </div>


                            {# Bottone #}
                            <div class="field">
                                <button type="submit" class="button is-link is-fullwidth">Login</button>
                            </div>
                        </form>

                        <div class="has-text-centered mt-4">
                            <p>Non sei ancora registrato? <a href="{% url 'registration' %}" class="has-text-link">Registrati</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}