{% extends "index.html" %}

{% block title %}Profilo | StudentMatch{% endblock %}

{% block content %}

    <section class="hero is-link">
        <div class="hero-body">
            <div class="container has-text-centered">

                <span class="icon is-large has-text-white mb-4">
                    <i class="fa-solid fa-circle-user fa-4x" aria-hidden="true"></i>
                </span>

                <h1 class="title has-text-white">
                    {% if utente.nome or utente.cognome %}
                        {{ utente.nome|default:"" }}
                        {{ utente.cognome|default:"" }}
                    {% else %}
                        {{ utente.utente }}
                    {% endif %}
                </h1>

                <p class="subtitle has-text-white-bis">
                    Profilo personale
                </p>

                <span class="tag is-white is-medium has-text-link has-text-weight-semibold">
                    {{ ruolo|capfirst }}
                </span>

            </div>
        </div>
    </section>


    <section class="section has-background-white-ter">
        <div class="container">

            <div class="columns is-centered">
                <div class="column is-8-tablet is-6-desktop">

                    <div class="card">

                        <header class="card-header has-background-link-soft">
                            <p class="card-header-title has-text-link-bold">
                                <span class="icon mr-2">
                                    <i class="fa-solid fa-address-card"></i>
                                </span>

                                Informazioni personali
                            </p>
                        </header>


                        <div class="card-content">

                            <div class="content">

                                <!-- Username -->
                                <article class="media">
                                    <div class="media-left">
                                        <span class="icon has-text-link">
                                            <i class="fa-solid fa-user"></i>
                                        </span>
                                    </div>

                                    <div class="media-content">
                                        <p class="is-size-7 has-text-black-ter has-text-weight-semibold mb-1">
                                            Username
                                        </p>

                                        <p class="has-text-black-ter has-text-weight-semibold">
                                            {{ utente.utente }}
                                        </p>
                                    </div>
                                </article>

                                <hr>


                                <!-- Email -->
                                <article class="media">
                                    <div class="media-left">
                                        <span class="icon has-text-link">
                                            <i class="fa-solid fa-envelope"></i>
                                        </span>
                                    </div>

                                    <div class="media-content">
                                        <p class="is-size-7 has-text-grey has-text-weight-semibold mb-1">
                                            Email
                                        </p>

                                        <p class="has-text-black-ter has-text-weight-semibold">
                                            {{ utente.email }}
                                        </p>
                                    </div>
                                </article>


                                {% if studente %}

                                    <hr>

                                    <!-- Corso di laurea -->
                                    <article class="media">
                                        <div class="media-left">
                                            <span class="icon has-text-info">
                                                <i class="fa-solid fa-graduation-cap"></i>
                                            </span>
                                        </div>

                                        <div class="media-content">
                                            <p class="is-size-7 has-text-grey has-text-weight-semibold mb-1">
                                                Corso di laurea
                                            </p>

                                            <p class="has-text-black-ter has-text-weight-semibold">
                                                {{ studente.corso_laurea }}
                                            </p>
                                        </div>
                                    </article>

                                    <hr>

                                    <!-- Anno di corso -->
                                    <article class="media">
                                        <div class="media-left">
                                            <span class="icon has-text-info">
                                                <i class="fa-solid fa-calendar"></i>
                                            </span>
                                        </div>

                                        <div class="media-content">
                                            <p class="is-size-7 has-text-grey has-text-weight-semibold mb-1">
                                                Anno di corso
                                            </p>

                                            <p class="has-text-black-ter has-text-weight-semibold">
                                                {{ studente.anno_corso }}
                                            </p>
                                        </div>
                                    </article>


                                {% elif tutor %}

                                    <hr>

                                    <!-- Dipartimento -->
                                    <article class="media">
                                        <div class="media-left">
                                            <span class="icon has-text-primary">
                                                <i class="fa-solid fa-building-columns"></i>
                                            </span>
                                        </div>

                                        <div class="media-content">
                                            <p class="is-size-7 has-text-grey has-text-weight-semibold mb-1">
                                                Dipartimento
                                            </p>

                                            <p class="has-text-black-ter has-text-weight-semibold">
                                                {{ tutor.dipartimento }}
                                            </p>
                                        </div>
                                    </article>

                                    <hr>

                                    <!-- Area di competenza -->
                                    <article class="media">
                                        <div class="media-left">
                                            <span class="icon has-text-primary">
                                                <i class="fa-solid fa-book-open"></i>
                                            </span>
                                        </div>

                                        <div class="media-content">
                                            <p class="is-size-7 has-text-grey has-text-weight-semibold mb-1">
                                                Area di competenza
                                            </p>

                                            <p class="has-text-black-ter has-text-weight-semibold">
                                                {{ tutor.area_competenza }}
                                            </p>
                                        </div>
                                    </article>


                                    {% if tutor.laurea %}

                                        <hr>

                                        <!-- Laurea -->
                                        <article class="media">
                                            <div class="media-left">
                                                <span class="icon has-text-primary">
                                                    <i class="fa-solid fa-graduation-cap"></i>
                                                </span>
                                            </div>

                                            <div class="media-content">
                                                <p class="is-size-7 has-text-grey has-text-weight-semibold mb-1">
                                                    Laurea
                                                </p>

                                                <p class="has-text-black-ter has-text-weight-semibold">
                                                    {{ tutor.laurea }}
                                                </p>
                                            </div>
                                        </article>

                                    {% endif %}


                                {% elif admin %}

                                    <hr>

                                    <!-- Livello amministratore -->
                                    <article class="media">
                                        <div class="media-left">
                                            <span class="icon has-text-danger">
                                                <i class="fa-solid fa-shield-halved"></i>
                                            </span>
                                        </div>

                                        <div class="media-content">
                                            <p class="is-size-7 has-text-grey has-text-weight-semibold mb-1">
                                                Livello amministratore
                                            </p>

                                            <p class="has-text-black-ter has-text-weight-semibold">
                                                {{ admin.livello }}
                                            </p>
                                        </div>
                                    </article>

                                    <hr>

                                    <!-- Data di nomina -->
                                    <article class="media">
                                        <div class="media-left">
                                            <span class="icon has-text-danger">
                                                <i class="fa-solid fa-calendar-check"></i>
                                            </span>
                                        </div>

                                        <div class="media-content">
                                            <p class="is-size-7 has-text-grey has-text-weight-semibold mb-1">
                                                Data di nomina
                                            </p>

                                            <p class="has-text-black-ter has-text-weight-semibold">
                                                {{ admin.data_nomina|date:"d/m/Y" }}
                                            </p>
                                        </div>
                                    </article>

                                {% endif %}

                            </div>
                        </div>


                        <footer class="card-footer">

                            <a href="{% url 'home' %}"
                               class="card-footer-item has-text-link has-text-weight-semibold">

                                <span class="icon mr-2">
                                    <i class="fa-solid fa-arrow-left"></i>
                                </span>

                                <span>Torna alla home</span>
                            </a>

                            <a href="{% url 'logout' %}"
                               class="card-footer-item has-text-danger has-text-weight-semibold">

                                <span class="icon mr-2">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </span>

                                <span>Logout</span>
                            </a>

                        </footer>

                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}
