{% extends "index.html" %}
{% block title %} Registrazione {% endblock %}

{% block content %}
    {# Torna Indietro alla pagina iniziale #}
    <div class="has-text-right-desktop">
        <a href="{% url 'index' %}" class="button is-small is-text has-text-link">
            <span class="icon is-small"><i class="fas fa-sign-in-alt"></i></span>
            <span>Pagina Iniziale</span>
        </a>
    </div>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-third">

                    {# Box -- card bianca #}
                    <div class="box">
                        <h1 class="title is-4 has-text-centered">Registrazione</h1>

                        {# Messaggio di errore (se presente) --> #}
                        {% if error %}
                            <div class="notification is-danger">
                                <button class="delete "></button>
                                {{ error }}
                            </div>
                        {% endif %}

                        {#  Messaggio di warning  #}
                        {% if warning %}
                            <div class="notification is-warning">
                                <button class="delete"></button>
                                {{ warning }}
                            </div>

                        {% endif %}

                        {# Messaggio di successo #}
                        {% if success %}
                            <div class="notification is-success">
                                {{ success }}
                            </div>
                        {% endif %}


                        <form method="post">
                            {% csrf_token %}
                            {# Campo Username #}
                            <div class="field">
                                <label class="label" for="user">Username</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" id="user" name="user" placeholder="Senior04"
                                           required>
                                    <span class="icon is-small is-left">
                                        <i class="fa-solid fa-user"></i>
                                    </span>
                                </div>
                            </div>

                            {# Campo Nome #}
                            <div class="field">
                                <label class="label" for="nome">Nome</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" id="nome" name="nome" placeholder="Mario">
                                    <span class="icon is-small is-left">
                                        <i class="fa-solid fa-user"></i>
                                    </span>
                                </div>
                            </div>

                            {# Campo Cognome #}
                            <div class="field">
                                <label class="label" for="cognome">Cognome</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" id="cognome" name="cognome" placeholder="Rossi">
                                    <span class="icon is-small is-left">
                                        <i class="fa-solid fa-user"></i>
                                    </span>
                                </div>
                            </div>

                            {# Campo Email #}
                            <div class="field">
                                <label class="label" for="email">Email</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="email" id="email" name="email"
                                           placeholder="diablo123@gmail.com"
                                    >
                                    <span class="icon is-small is-left">
                                      <i class="fas fa-envelope"></i>
                                    </span>
                                </div>
                            </div>

                            {# Campo Password #}
                            <div class="field">
                                <label class="label" for="pass">Password</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="password" id="pass" name="pass"
                                           placeholder="*********" required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                            </div>

                            {# Campo Professione scelta ruolo #}
                            <div class="field">
                                <label class="label" for="ruolo">Registrati come</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select name="ruolo" id="ruolo" required>
                                            <option value="">Seleziona un ruolo</option>
                                            <option value="studente">Studente</option>
                                            <option value="tutor">Tutor</option>
                                            <option value="admin">Admin</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            {# Campo Studente #}
                            <div id="campi-studente" hidden>

                                <div class="field">
                                    <label class="label" for="anno_corso">Anno di corso</label>
                                    <div class="control">
                                        <input class="input" type="number" id="anno_corso" name="anno_corso" min="1"
                                               max="5">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="corso_laurea_stu">Corso di laurea</label>
                                    <div class="control">
                                        <div class="select is-fullwidth">
                                            <select name="corso_laurea_stu" id="corso_laurea_stu" required>
                                                <option disabled selected>Seleziona corso</option>
                                                {% for corso in corsi %}
                                                    <option value="{{ corso }}">{{ corso }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            {# Campo Tutor #}
                            <div id="campi-tutor" hidden>
                                <div class="field">
                                    <label class="label" for="dipartimento">Dipartimento</label>
                                    <div class="control">
                                        <input class="input" type="text" id="dipartimento" name="dipartimento">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label" for="area_competenza">Area Competenza</label>
                                    <div class="control">
                                        <input class="input" type="text" id="area_competenza" name="area_competenza">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="corso_laurea_tut">Corso di Laurea</label>
                                    <div class="control">
                                        <div class="select is-fullwidth">
                                            <select name="corso_laurea_tut" id="corso_laurea_tut" required>
                                                <option disabled selected>
                                                    Seleziona il corso
                                                </option>
                                                {% for corso in corsi %}
                                                    <option value="{{ corso }}">{{ corso }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# Campo Admin #}
                            <div id="campi-admin" hidden>
                                <div class="field">
                                    <label class="label" for="codice_invito">Codice Invito</label>
                                    <div class="control">
                                        <input class="input" type="password" id="codice_invito" name="codice_invito">
                                    </div>
                                </div>
                            </div>

                            {# Bottone #}
                            <div class="field">
                                <button type="submit" class="button is-link is-fullwidth">REGISTRATI</button>
                            </div>
                        </form>
                        <div class="has-text-centered mt-4">
                            <p>Hai già un account? <a href="{% url 'login' %}" class="has-text-link">Accedi</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        const ruoloSelect = document.getElementById("ruolo");
        const campiStudente = document.getElementById("campi-studente");
        const campiTutor = document.getElementById("campi-tutor");
        const campiAdmin = document.getElementById("campi-admin");

        function mostraCampiRuolo() {
            campiStudente.hidden = true;
            campiTutor.hidden = true;
            campiAdmin.hidden = true;

            if (ruoloSelect.value === "studente") {
                campiStudente.hidden = false;
            } else if (ruoloSelect.value === "tutor") {
                campiTutor.hidden = false;
            } else if (ruoloSelect.value === "admin") {
                campiAdmin.hidden = false;
            }
        }

        ruoloSelect.addEventListener("change", mostraCampiRuolo);
        mostraCampiRuolo();
    </script>
{% endblock %}
